[user]
	name = Keir Lawson
	email = keirlawson@gmail.com

[includeIf "hasconfig:remote.*.url:https://ghe.siriusxm.com/**"]
	path = .gitconfig.work

[core]
	autocrlf = input
	editor = hx
[alias]
	co = checkout
	cb = "!git checkout $(git branch --sort=-committerdate | sk)"
	br = branch --sort=-committerdate
	fp = push --force-with-lease
	lg = log --pretty --graph --oneline --decorate
	pu = "!git push --set-upstream origin \"$(git rev-parse --abbrev-ref HEAD)\""
	df = diff --word-diff=color
	cm = "!git diff --cached | llm prompt --no-stream -s \"$(cat ~/.config/prompts/git-commit-message.txt)\" | git commit -F - --edit"
	cma = "!git diff | llm prompt --no-stream -s \"$(cat ~/.config/prompts/git-commit-message.txt)\" | git commit -F - --edit -a"
	wt = "!f() { git worktree add "~/Code/$(basename `git rev-parse --show-toplevel`)$1" -b "$1"; }; f"
	tb = "!git commit --allow-empty -m 'trigger build' && git push"
	pm = fetch origin main:main
[pull]
	rebase = true
[apply]
	ignorewhitespace = change
[rebase]
	abbreviateCommands = true
[merge "npm-merge-driver"]
	name = automatically merge npm lockfiles
	driver = npx npm-merge-driver merge %A %O %B %P
[init]
	defaultBranch = main
[diff]
        tool = difftastic
[difftool]
        prompt = false

[difftool "difftastic"]
        cmd = difft "$LOCAL" "$REMOTE"
[pager]
        difftool = true
[alias]
        dft = difftool
[push]
	autoSetupRemote = true
[rerere]
	enabled = true
[branch]
	sort = committerdate
[merge "mergiraf"]
    name = mergiraf
    driver = mergiraf merge --git %O %A %B -s %S -x %X -y %Y -p %P -l %L

[core]
    attributesfile = ~/.gitattributes
[credential]
	helper = libsecret
