[user]
	name = Keir Lawson
	email = keirlawson@gmail.com
[core]
	autocrlf = input
	editor = vim
[push]
	default = simple
[init]
	templatedir = ~/.git_templates
[merge]
	tool = meld
[diff]
	compactionHeuristic = true
[alias]
	co = checkout
	br = branch
	fp = push --force-with-lease
	lg = log --pretty --graph --oneline --decorate
	pu = "!git push --set-upstream origin \"$(git rev-parse --abbrev-ref HEAD)\""
	df = diff --word-diff=color
[credential]
	helper = libsecret
[pull]
	rebase = true
[apply]
	ignorewhitespace = change
[rebase]
	abbreviateCommands = true
[merge "npm-merge-driver"]
	name = automatically merge npm lockfiles
	driver = npx npm-merge-driver merge %A %O %B %P
[gpg]
	program = gpg2
[commit]
	gpgsign = true
