[user]
	name = Keir Lawson
	email = keirlawson@gmail.com

[includeIf "hasconfig:remote.*.url:https://ghe.siriusxm.com/**"]
	path = .gitconfig.work

[core]
	autocrlf = input
	editor = hx
[merge]
	tool = meld
[alias]
	co = checkout
	br = branch
	fp = push --force-with-lease
	lg = log --pretty --graph --oneline --decorate
	pu = "!git push --set-upstream origin \"$(git rev-parse --abbrev-ref HEAD)\""
	df = diff --word-diff=color
[credential]
	helper = libsecret
[pull]
	rebase = true
[apply]
	ignorewhitespace = change
[rebase]
	abbreviateCommands = true
[merge "npm-merge-driver"]
	name = automatically merge npm lockfiles
	driver = npx npm-merge-driver merge %A %O %B %P
[init]
	defaultBranch = main
[diff]
        tool = difftastic
[difftool]
        prompt = false

[difftool "difftastic"]
        cmd = difft "$LOCAL" "$REMOTE"
[pager]
        difftool = true
[alias]
        dft = difftool
[push]
	autoSetupRemote = true
