"*":
  "atom-ternjs":
    useSnippets: false
  "autoclose-html": {}
  "autocomplete-plus": {}
  core:
    audioBeep: false
    disabledPackages: [
      "language-objective-c"
      "deprecation-cop"
      "language-c"
      "language-clojure"
      "language-coffee-script"
      "language-go"
      "language-mustache"
      "language-perl"
      "language-ruby"
      "language-ruby-on-rails"
      "language-toml"
      "atom-lint"
      "atom-typescript"
      "autocomplete-paths"
    ]
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  docblockr:
    return_tag: "@returns"
  editor:
    fontSize: 16
    invisibles: {}
    preferredLineLength: 150
  "exception-reporting":
    userId: "dc9bb00d-8d6f-9125-6974-496ce3533beb"
  "file-icons":
    onChanges: true
  "git-projects":
    maxDepth: 2
    rootPath: "/home/keir/Code/Angular"
  "highlight-line":
    enableBackgroundColor: false
    enableSelectionBorder: true
  "jira-issue-search":
    jiraSearchUrl: "https://jira.ncredinburgh.com/rest/api/latest/search"
  linter:
    lintOnChange: false
    lintOnChangeInterval: 0
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "merge-conflicts": {}
  metrics:
    userId: "aabfbb00b3cd5cdf5fa0e22ea2a648dbc3e8395a"
  pigments: {}
  react: {}
  "spell-check": {}
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
