'.source.js':
  'console.log, JSON.stringify':
    'prefix': 'lst'
    'body': 'console.log(JSON.stringify($1, null, 2));$2'
  'describe block':
    'prefix': 'dsc'
    'body': """describe('$1', function () {
      $2
    });"""
  'it should block':
    'prefix': 'its'
    'body': """it('should $1', function () {
      $2
    });"""
  'gulp task':
    'prefix': 'gut'
    'body': """gulp.task('$1', function () {
      $2
    });"""
